services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER_FILE: /run/secrets/db_user
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_DB: UnderStance
    volumes:
      - type: bind
        source: ./Backend/10-db-init.sql
        target: /docker-entrypoint-initdb.d/10-db-init.sql
      - type: bind
        source: ./Backend/tests/setup/20-pop-db.sql
        target: /docker-entrypoint-initdb.d/20-pop-db.sql
    secrets:
      - db_root_pw
      - db_user
      - db_password
  backend:
    build: Backend/
    environment:
      DB_HOST: "db"
      DB_PORT: 5432
      CORS_ORIGIN: "http://localhost:5174"
      SECRET_USER_PATH: "/run/secrets/db_user"
      SECRET_PASSWORD_PATH: "/run/secrets/db_password"
    ports:
      - 3000:3000
    secrets:
      - db_user
      - db_password
  frontend:
    build: Frontend/
    environment:
      BACKEND_HOST: "backend"
      BACKEND_PORT: 3000
      VITE_API_URL: "http://localhost:3000"
    ports:
      - 5174:5174
secrets:
  db_root_pw:
    file: ./Backend/.config/.dev/mysql-root-password
  db_user:
    file: ./Backend/.config/.dev/mysql-user
  db_password:
    file: ./Backend/.config/.dev/mysql-password
