body:has(> #root > .login-container) {
    background: rgba(0, 0, 0, 0.9);
    /* background-image: linear-gradient(to right, #ce3f8f, #1b4dbe); */
    /* background-image: linear-gradient(to right, #3F3AA2, #00D4FF); */
    /* background-image: linear-gradient(to right, #3F3AA2, var(--red)); */
    /* background-image: linear-gradient(to right, red, var(--red)); */
}
body:has(> #root > .login-container)::before {
    background-image: url("../../assets/gradient-squares.png");
    content: "";
    position: fixed;
    z-index: -1;
    background-size: 140px;
    background-repeat: repeat;
    /*mix-blend-mode: multiply;*/
    inset: 0;
    filter: contrast(10%);
}
#root:has(> .login-container) {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.login-container {
    background: var(--primary);
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.login-container > .title-container {
    position: absolute;
    width: 100%;
    top: 10px;
}

@media screen and (max-width: 1200px) {
    /* Hide hero on smaller devices */
    .login-container {
        width: 100%;
    }
    #root:has(> .login-container) {
        max-width: 500px;
        width: 92%;
    }
}
