:root {
    --texture-background: transparent;
    --surface: rgba(0, 0, 0, 0);
    --surface-container: #ffffff;
    /* TODO: Change this for lesser contrast */
    --on-surface-container: black;
    --surface-container-outline: #ccc;
    --gradient: linear-gradient(
        90deg,
        rgba(34, 218, 255, 1) 0%,
        rgba(114, 111, 169, 1) 100%
    );
    --on-gradient: #ffffff;
    --navbar-surface: linear-gradient(
        90deg,
        rgba(29, 45, 69, 1) 0%,
        rgba(34, 50, 73, 1) 100%
    );
    --on-navbar-surface: #ffffff;
    --navbar-surface-container: #f3f4f6;
    --navbar-surface-container-hover: #e5e7eb;
    --navbar-separator: #e5e7eb;
    --on-navbar-surface-container: #374151;

    --table-even: #e9e9e9;
    --table-odd: #f5f5f5;
    /* --table-hover: #bfe0ff; */
    /* --table-selected: #7fc1ff; */
    --table-hover: linear-gradient(
        90deg,
        rgba(215, 223, 255, 0.4) 0%,
        rgba(209, 243, 255, 0.4) 100%
    );
    --table-selected: linear-gradient(
        90deg,
        rgba(215, 223, 255) 0%,
        rgb(209, 243, 255) 100%
    );
    --update-item-panel: linear-gradient(
        90deg,
        rgba(215, 223, 255, 0.95) 0%,
        rgb(209, 243, 255) 100%
    );
    --update-item-panel-shadow: rgba(190, 196, 225, 0.95);
    --update-item-panel-button: rgba(0, 0, 0, 0.8);
    --update-item-panel-h4: #3b3b3b;
    --accept-button: #007acc;
    --on-accept-button: white;
    --delete-button: #cc0000;
    --on-delete-button: white;
    --cancel-button: #eee;
    --on-cancel-button: #333;

    /* For Dashboard */
    --dash-card: #f1f1f1c8;
    --dash-card-shadow: rgba(0, 0, 0, 0.05);
    --dash-card-title: #6b7280;
    --dash-card-number: #1f2937;
    --edit-display-button: rgb(188, 188, 188);
    --edit-display-button-hover: rgb(0, 25, 139);

    /* Inside Edit Display */
    --edit-card-item: #e5e7eb;
    --edit-card-item-text: #111827; 
    --edit-card-delete: #fee2e2;
    --edit-card-delete-hover: #b91c1c;
    --edit-card-edit: #e0dfdf;
    --edit-card-edit-hover: #e5e7eb;

    /* Tab Section */
    --tabs-header: rgb(182, 182, 182);
    --tabs-header-li: #ffffff;
    --tabs-header-li-hover: rgba(255, 255, 255, 0.9);

    /* Analytics */
    --stats-title: #6b7280;

    /* General */
    --green: green;
    --red: #ac0000;
    --disabled-container: #e9f7ff;

    font-family: "Roboto Flex", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    background: var(--texture-background);
    color: var(--on-surface-container);
}

[data-theme="dark"] {
    --texture-background: black;
    --surface: rgba(0, 0, 0, 1);
    --surface-container: #1f1f22;
    --surface-container-outline: #46484f;
    --on-surface-container: #ededed;
    --gradient: linear-gradient(90deg, #0d324d 0%, #7f5a83 100%);
    /*--gradient: linear-gradient(90deg, #003848 0%, #2C294A 100%);*/
    /*--gradient: #7277A9;*/
    --on-gradient: #d9d9d9;
    --green: #26a269;
    --red: #ac0000;
    --navbar-surface: #121212;
    --on-navbar-surface: #dfdfdf;
    --navbar-surface-container: #1f1f22;
    --navbar-surface-container-hover: #797b86;
    --navbar-separator: #46474e;
    --on-navbar-surface-container: #ededed;
    --table-even: #27282c;
    --table-odd: #393a3f;
    --table-hover: #1f1f22;
    --table-selected: #121212;
    --dash-card: linear-gradient(
        225deg,
        rgba(55, 61, 74, 1) 0%,
        rgba(32, 52, 80, 1) 100%
    );
    --dash-card-shadow: rgba(255, 255, 255, 0.05);
    --dash-card-title: #c8d0dd;
    --dash-card-number: #8ab3ee;
    --edit-display-button: rgb(104, 104, 104);
    --edit-display-button-hover: #8ab3ee;
    
    --tabs-header: rgb(106, 106, 106);
    --tabs-header-li: #b1b1b1;
    --tabs-header-li-hover: rgba(33, 33, 33, 0.9);
    --stats-title: #ccdbf9;
    --update-item-panel: linear-gradient(
        270deg,
        rgba(55, 61, 74, 1) 0%,
        rgba(32, 52, 80, 1) 100%
    );
    --update-item-panel-shadow: rgba(18, 33, 53, 0.95);
    --update-item-panel-button: rgba(255, 255, 255, 0.95);
    --update-item-panel-h4: #d4d4d4;
    --accept-button: #003b62;
    --delete-button: #970000;
    --cancel-button: #4d4d4d;
    --on-accept-button: #ededed;
    --on-delete-button: #ededed;
    --on-cancel-button: #ededed;
    --disabled-container: #1f1f22;   
    --edit-card-item-text: #b0bcd6; 
    --edit-card-item: linear-gradient(
        270deg,
        rgba(55, 61, 74, 1) 0%,
        rgba(32, 52, 80, 1) 100%
    );
    --edit-card-edit: #8d8d8d;
    --edit-card-edit-hover: #e5e7eb;
    --edit-card-delete: #9a0000;
    --edit-card-delete-hover: #d09292;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.page-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    overflow: auto;
    transition: margin-left 0.3s ease;
}

.page-container-body {
    background: var(--texture-background);
    flex-grow: 1;
    padding: 1rem;
    transition: margin-left 0.3s ease;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-x: auto;
    position: relative;
}

.page-container-body::before {
    content: "";
    position: fixed;
    z-index: -1;
    background-size: 30%;
    background-repeat: repeat;
    background-blend-mode: lighten;
    filter: contrast(40%);
    background: var(--surface);
    mix-blend-mode: multiply;
    inset: 0;
    background-image: url("./assets/45-degree-fabric-light.png");
}

.title,
h1,
h2 {
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: unset;
    margin: 0;
}

h3,
h4,
textarea {
    font-family: "Sansation", sans-serif;
    font-style: normal;
    font-weight: unset;
    margin: 0;
}

/* Desktop Breakpoint */
@media only screen and (min-width: 1200px) {
    .title {
        font-size: 2.5em;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3,
    label {
        font-size: 1.25em;
    }
    * {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1200px) {
    .title {
        font-size: 40px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    * {
        font-size: 18px;
    }
}

body {
    margin: 0;
}
