.tab-container {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
}

.tab-headers {
    background: rgb(182, 182, 182);
    margin-top: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab-header {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab-header li {
    flex: 1;
    padding: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease;
}

.tab-header li:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.9);
}

.tab-header li.active {
    background: #ffffff;
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tab-content .stats-grid {
    padding: 1rem;
}

.tab-content .footer-links {
    text-align: center;
    padding-bottom: 0.5rem;
}

.redirect-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(188, 188, 188);
}

.redirect-button:hover {
    color: rgb(0, 25, 139);
}