.navbar {
    background: var(--navbar-surface);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 16rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    flex-shrink: 0;
    z-index: 10;
    margin: 0;
    color: var(--on-navbar-surface);
    transition: width 0.3s ease;
}

.navbar-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--navbar-separator);
}

.navbar-logo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    /*background-color: #4f46e5;*/
    background: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.logo-text {
    margin-left: 0.75rem;
    font-size: 1.5rem;
    /*font-weight: bold;*/
    color: var(--on-navbar-surface);
    font-family: "DM Serif Display", serif;
}

.navbar-content {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 1rem;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-section {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.navbar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title h3 {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 0;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--on-navbar-surface);
}

.toggle-button:hover {
    color: var(--on-gradient);
}

.navbar-list {
    padding-left: 0rem;
    padding-right: 0rem;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    color: var(--on-navbar-surface);
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    text-decoration: none;
    padding-left: 1.125rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    /* transition: background 0.2s; */
}

.nav-item:hover {
    color: var(--on-gradient);
    background: var(--gradient);
}

.nav-item.active {
    color: var(--on-gradient);
    background: var(--gradient);
}

.nav-item i {
    font-size: 1.125rem;
}

.nav-text {
    margin-left: 0.75rem;
    font-weight: 500;
}
.nav-btn {
    text-decoration: none;
}

.navbar-footer {
    padding: 1rem;
    border-top: 1px solid var(--navbar-separator);
}

.footer-button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--navbar-surface-container);
    color: var(--on-navbar-surface-container);
    border: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    align-items: left;
    justify-content: left;
    cursor: pointer;
}

.footer-button:hover {
    background-color: var(--navbar-surface-container-hover);
}

/* Navbar Collapsible Styling */
.navbar.collapsed {
    width: 5rem; /* shrink width */
}

.navbar.collapsed .logo-text,
.navbar.collapsed .nav-text {
    display: none;
}

.navbar.collapsed .navbar-title h3 {
    display: none;
}
