.button-group {
    display: flex;
    gap: 1rem; /* adds spacing between buttons */
    margin-top: 1rem;
}

.button-group .btn {
    flex: 1;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease,
                transform 0.2s ease,
                box-shadow 0.2s ease;;
}

/* Individual button colors */
.button-group .agree {
    background-color: #356939;
}

.button-group .agree:hover {
    background-color: #45a049;
}

.button-group .skip {
    color:#000000;
    background-color: #FFFFFF;
}

.button-group .skip:hover {
    background-color: #bfbfbf;
}

.button-group .disagree {
    background-color: #983737;
}

.button-group .disagree:hover {
    background-color: #d32f2f;
}

/* Creates Hover effect*/
.button-group .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Back/Forward button styling */
.back-btn {
  margin-right: 1rem;
}
.back-btn:hover {
  background-color: #bfbfbf;
}

.forward-btn {
  margin-left: 1rem;
}
.forward-btn:hover {
  background-color: #bfbfbf;
}

.issue-description {
    font-size: 50;
    white-space: pre-wrap;
}