.management {
    position: relative;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--surface-container);
    color: var(--on-surface-container);
    border-radius: 10px;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: auto;
    min-height: 85vh;
    max-height: 90vh;
}

.management-header {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 25px;
    border-bottom: solid rgba(0, 0, 0, 0.28);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.management-header-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 2;
    padding-right: 1rem;
}

.button-management-add {
    background: var(--gradient);
    min-width: 200px;
    min-height: 40px;
    color: var(--on-gradient);
    font-size: 15px;
    border-radius: 10px;
    border: none;
    font-family: "Sansation", sans-serif;
    cursor: pointer;
}

.management-sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.search-bar {
    flex: 1 1 200px;
}

.search-input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    border: 1px solid var(--surface-container-outline);
    background: var(--surface-container); 
    color: var(--on-surface-container);
}

.table-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    flex: 2;
}

.filter-dropdown {
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    border: 1px solid var(--surface-container-outline);
    background: var(--surface-container); 
    color: var(--on-surface-container);
}

.table-filtered-count {
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    color: #777;
}

/* Rendered Table Styling */
.table-container {
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid var(--surface-container-outline);
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.table-header {
    background-color: var(--table-even);
    text-align: left;
    padding: 12px 16px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    text-transform: capitalize;
}

.table-row {
    /* Can consider removing if we wan a snappier feel */
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.table-row:nth-child(even) {
    background-color: var(--table-even);
}

.table-row:nth-child(odd) {
    background-color: var(--table-odd);
}

.table-row:hover {
    background-color: var(--table-hover);
}

.table-row-selected {
    background-color: var(--table-selected) !important;
}

.table-cell {
    padding: 12px 16px;
    border-bottom: 1px solid var(--surface-container-outline)/*#eee*/;
    white-space: nowrap;
}

.table-empty {
    color: #777;
    font-style: italic;
    margin-bottom: 1rem;
}

.boolean-true {
    color: var(--green);
}
.boolean-false {
    color: var(--red);
}

.panel-wrapper {
    position: fixed; /* fixed so it overlays on top */
    top: 66px;
    right: 0;
    width: 450px;
    height: calc(100% - 66px);
    background: linear-gradient(
        90deg,
        rgba(191, 191, 191, 0.95) 0%,
        rgba(86, 172, 255, 1) 100%
    );
    transform: translateX(100%); /* start off-screen on the right */
    transition:
        transform 0.2s ease-in-out,
        width 0.2s ease-in-out;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    z-index: 1000;
}

/* When panel is active (shown) */
.panel-wrapper.open {
    transform: translateX(0); /* slide in */
}

.panel-wrapper.expanded {
    width: 600px;
}

/* Buttons on the panel-wrapper */
.panel-wrapper .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    z-index: 1100;
    color: #333;
}

.panel-wrapper .expand-btn {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    z-index: 1100;
}

.panel-wrapper.expanded .expand-btn {
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1080px) {
    .management-sub {
        display: grid;
        justify-content: center;
    }
}
