.App {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    /*margin-left: 60px; /* Same as navbar width */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
}

footer {
    margin-top: auto;
    padding: 20px;
}
