.settings-section{
    width: 100%;
    border-radius: 5px;
    background: var(--surface-container);
    color: var(--on-surface-container);
    margin: 10px 0px;
    padding: 30px;
}

.settings-section > h1 {
    text-decoration: underline;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.settings-section .row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.settings-section .col {
    display: flex;
    flex-direction: column;
}

.settings-section input {
    width: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 3px;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid var(--surface-container-outline);
    background: var(--surface-container); 
    color: var(--on-surface-container);
    margin-top:10px;
}
.settings-section select {
    background: var(--surface-container); 
    color: var(--on-surface-container);
    border: 1px solid var(--surface-container-outline);
}
.settings-section label {
    margin-bottom: 10px;
    display: block;
}

.settings-section button {
    background: var(--gradient);
    min-width: 200px;
    min-height: 40px;
    color: var(--on-gradient);
    font-size: 15px;
    border-radius: 10px;
    border: none;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.settings-section button.disabled {
    background: var(--navbar-surface-container-hover);
}

.settings-section.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius:100px;
}
.settings-section.profile .col {
    max-width: 600px;
    width: 100%;
}
.settings-section.profile .row {
    flex-wrap: wrap-reverse;
}
.settings-section.profile .img-container {
    margin-left: 20px;
}
.settings-section.appearance { position: relative; }


.theme-selector .light-option {
    background-image: url("../../assets/light-theme.png");
}
.theme-selector .dark-option {
    background-image: url("../../assets/dark-theme.png");
}
.theme-selector .radio-container {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    margin-right: 20px;
    background: var(--table-even);
}
.settings-section.appearance .radio-container input {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    height: unset;
    width: unset;
}

.radio-container > label {
    padding: 4px 25px;
    margin-bottom: 0px;
}
.theme-selector .preview {
    cursor: pointer;
    background-size: contain;
    display: inline-block;
    width: 480px;
    height: 238px;
    filter: brightness(1.8) grayscale(1) opacity(.7);
    transition: all 100ms ease-in;
}
.theme-selector input:checked +.preview,
.preview:hover{
    filter: none;
}
