.loader-container {
    display: flex;
    justify-content: center;
}
.loader-container > div {
    display: inline-block;
    text-align: center;
}
.loader-container h3 {
    margin-top: 8px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid rgba(114,111,169,1);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--on-primary-alt) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
