h1.title {
    display: inline-block;
}
h1.title > span {
    font-size: inherit;
}

h1.title > span:nth-child(2) {
    color: var(--red);
}

h1.title:after {
    content: "";
    display: block;
    width: 100%;
    border: 3px solid black;
    position: relative;
    top: -5px;
}

h1.title svg {
    font-size: 0.75em;
    margin-right: 8px;
}
